*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 5px solid rgb(14, 98, 255);
}
nav{
    height: 8vh;
    display: flex;
    background: black;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: rgb(14, 98, 255);
}
nav .logo{
    color: white;
}
footer > nav{
    justify-content: center;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    min-width: 30%;
}
footer ul {
    
}
ul li{
    padding: 2vh;
    vertical-align: middle;
}

main{
    display: flex;

}
aside{
    order: -100;
    width: 500px;
}
section{
    border-left: 1px solid black;
}
aside, section{
    padding: 20px;
}
p{
    margin-top: 10px;
}
footer{
    border-top: 5px solid rgb(14, 98, 255);
}